page {
}

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

.mgb-10 {
  margin-bottom: 10rpx;
}
.mgb-20 {
  margin-bottom: 20rpx;
}
.mgb-30 {
  margin-bottom: 30rpx;
}
.mgb-50 {
  margin-bottom: 50rpx;
}
.mgb-140 {
  margin-bottom: 140rpx;
}
